streamlit
langchain>=0.2.16
langchain-community>=0.2.16
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
pymupdf
python-dotenv
numpy
streamlit-pdf-viewer
rank-bm25
torch
transformers
scikit-learn